.aws-sam/build/template.yaml
Transform: AWS::Serverless-2016-10-31
Parameters:
  LabRoleArn:
    Type: String
    Description: The ARN of the LabRole AWS Learner Lab
    Default: arn:aws:iam::730335581373:role/LabRole
Resources:
  Api:
    Type: AWS::Serverless::Api
    Properties:
      Name:
        Fn::Sub:
        - ${ResourceName} From Stack ${AWS::StackName}
        - ResourceName: Api
      StageName: Prod
      DefinitionBody:
        openapi: '3.0'
        info: {}
        paths:
          /:
            get:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${StateicProxyFunction.Arn}/invocations
              responses: {}
          /api/health:
            get:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${HealthFunction.Arn}/invocations
              responses: {}
          /api/inbox:
            get:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LInbox.Arn}/invocations
              responses: {}
            post:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LInbox.Arn}/invocations
              responses: {}
          /api/inbox/{key}:
            delete:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LInbox.Arn}/invocations
              responses: {}
          /api/jobs:
            post:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${lsubmit.Arn}/invocations
              responses: {}
          /api/jobs/{jobId}:
            get:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LPoll.Arn}/invocations
              responses: {}
            delete:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LPoll.Arn}/invocations
              responses: {}
          /api/jobs/{jobId}/items/{index}:
            delete:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri:
                  Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LPoll.Arn}/invocations
              responses: {}
      EndpointConfiguration: REGIONAL
      TracingEnabled: false
  Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName:
        Fn::Sub: cmsc471-bucket-${AWS::AccountId}
      BucketEncryption:
        ServerSideEncryptionConfiguration:
        - ServerSideEncryptionByDefault:
            SSEAlgorithm: aws:kms
            KMSMasterKeyID: alias/aws/s3
      PublicAccessBlockConfiguration:
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
  BucketBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: Bucket
      PolicyDocument:
        Id: RequireEncryptionInTransit
        Version: '2012-10-17'
        Statement:
        - Principal: '*'
          Action: '*'
          Effect: Deny
          Resource:
          - Fn::GetAtt:
            - Bucket
            - Arn
          - Fn::Sub: ${Bucket.Arn}/*
          Condition:
            Bool:
              aws:SecureTransport: 'false'
  StateicProxyFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: StateicProxyFunction
      CodeUri: StateicProxyFunction
      Handler: proxy.proxy_handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Environment:
        Variables:
          BUCKET_BUCKET_NAME:
            Ref: Bucket
          BUCKET_BUCKET_ARN:
            Fn::GetAtt:
            - Bucket
            - Arn
      Events:
        ApiGET:
          Type: Api
          Properties:
            Path: /
            Method: GET
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: StateicProxyFunction
  StateicProxyFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${StateicProxyFunction}
      RetentionInDays: 14
  HealthFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: HealthFunction
      CodeUri: HealthFunction
      Handler: handler.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Environment: {}
      Events:
        ApiGET:
          Type: Api
          Properties:
            Path: /api/health
            Method: GET
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: HealthFunction
  HealthFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${HealthFunction}
      RetentionInDays: 7
  InboxBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName:
        Fn::Sub: cmsc471-inboxbuck-${AWS::AccountId}
      BucketEncryption:
        ServerSideEncryptionConfiguration:
        - ServerSideEncryptionByDefault:
            SSEAlgorithm: aws:kms
            KMSMasterKeyID: alias/aws/s3
      PublicAccessBlockConfiguration:
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      CorsConfiguration:
        CorsRules:
        - AllowedMethods:
          - GET
          - PUT
          - POST
          - DELETE
          - HEAD
          AllowedOrigins:
          - '*'
          AllowedHeaders:
          - '*'
          ExposedHeaders:
          - ETag
          MaxAge: 3000
  InboxBucketBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: InboxBucket
      PolicyDocument:
        Id: RequireEncryptionInTransit
        Version: '2012-10-17'
        Statement:
        - Principal: '*'
          Action: '*'
          Effect: Deny
          Resource:
          - Fn::GetAtt:
            - InboxBucket
            - Arn
          - Fn::Sub: ${InboxBucket.Arn}/*
          Condition:
            Bool:
              aws:SecureTransport: 'false'
  LInbox:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: LInbox
      CodeUri: LInbox
      Handler: handler.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Environment:
        Variables:
          INBOX_BUCKET_NAME:
            Ref: InboxBucket
      Events:
        ApiGETInbox:
          Type: Api
          Properties:
            Path: /api/inbox
            Method: GET
            RestApiId:
              Ref: Api
        ApiPOSTInbox:
          Type: Api
          Properties:
            Path: /api/inbox
            Method: POST
            RestApiId:
              Ref: Api
        ApiDELETEInbox:
          Type: Api
          Properties:
            Path: /api/inbox/{key}
            Method: DELETE
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: LInbox
  LInboxLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${LInbox}
  lsubmit:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: lsubmit
      CodeUri: lsubmit
      Handler: handler.lsubmit_handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE:
            Ref: Table
          STATE_MACHINE_ARN:
            Ref: StateMachine
      Events:
        ApiPOSTapijobs:
          Type: Api
          Properties:
            Path: /api/jobs
            Method: POST
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: lsubmit
  lsubmitLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${lsubmit}
      RetentionInDays: 7
  Table:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: Delete
    Properties:
      AttributeDefinitions:
      - AttributeName: jobId
        AttributeType: S
      BillingMode: PAY_PER_REQUEST
      KeySchema:
      - AttributeName: jobId
        KeyType: HASH
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES
  l1fetch:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: l1fetch
      CodeUri: l1fetch
      Handler: l1fetch.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          INBOX_BUCKET_NAME:
            Ref: InboxBucket
    Metadata:
      SamResourceId: l1fetch
  l1fetchLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${l1fetch}
      RetentionInDays: 7
  L2call:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: L2call
      CodeUri: L2call
      Handler: l2call.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE:
            Ref: Table
    Metadata:
      SamResourceId: L2call
  L2callLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${L2call}
      RetentionInDays: 7
  L3save:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: L3save
      CodeUri: L3save
      Handler: l3save.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE:
            Ref: Table
    Metadata:
      SamResourceId: L3save
  L3saveLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${L3save}
      RetentionInDays: 7
  StateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Definition:
        StartAt: Fetch
        States:
          Fetch:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: ${L1FetchArn}
            Next: Call
          Call:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: ${L2CallArn}
            Next: Save
          Save:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: ${L3SaveArn}
            End: true
      Role:
        Ref: LabRoleArn
      Type: STANDARD
      DefinitionSubstitutions:
        L1FetchArn:
          Fn::GetAtt:
          - l1fetch
          - Arn
        L2CallArn:
          Fn::GetAtt:
          - L2call
          - Arn
        L3SaveArn:
          Fn::GetAtt:
          - L3save
          - Arn
  LPoll:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: LPoll
      CodeUri: LPoll
      Handler: lpoll.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE:
            Ref: Table
      Events:
        ApiGETPoll:
          Type: Api
          Properties:
            Path: /api/jobs/{jobId}
            Method: GET
            RestApiId:
              Ref: Api
        ApiDELETEJob:
          Type: Api
          Properties:
            Path: /api/jobs/{jobId}
            Method: DELETE
            RestApiId:
              Ref: Api
        ApiDELETEItem:
          Type: Api
          Properties:
            Path: /api/jobs/{jobId}/items/{index}
            Method: DELETE
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: LPoll
  LPollLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${LPoll}
      RetentionInDays: 7
Outputs:
  HelloWorldApi:
    Description: API Gateway endpoint URL
    Value:
      Fn::Sub: https://${Api}.execute-api.${AWS::Region}.amazonaws.com/Prod/
  FrontendBucketName:
    Value:
      Ref: Bucket
